/*style the body*/
body{
    font-family:Andale Mono, monospace;
    margin: 0;
}

/*header/logo title*/
.header {
    padding: 80px;
    text-align:center;
    background: #f9d9e7;
    color: rgb(227, 221, 221);
  -webkit-text-stroke: 1px rgb(98, 85, 85);
}

/*increase the font size of the heading*/
.header h1 {
    font-size: 40px;
    font-family: Snell Roundhand, cursive;
}

/*header titles*/
.side h2{
    font-family: Snell Roundhand, cursive;
}
.side h3 {
    font-family: Snell Roundhand, cursive;
}

/*style of the navbar*/
.navbar {
overflow: hidden;
background-color: #fffcfc;
}

/*style the navbar links*/
.navbar a {
    float: left;
    display: block;
    color: rgb(130, 126, 126);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/*right aligned link*/
.navbar a.right{
    float: right;
}

/*change color on hover*/
.navbar a:hover{
    background-color: #fab4d5;
    color: black;
}

/*column container*/
.row {
    display: -ms flexbox;
    display: flex;
    -ms-flexwrap: wrap;
    flex-wrap: wrap;
}

/*create 2 unequal co;ums that sit net to eachother*/
/*side bar left column*/
.side {
    -ms-flex: 30%;
    flex: 30%;
    background-color:#ddd;
    padding: 20px;
}

/*main column*/
.main {
    -ms-flex: 70%;
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/*footer*/
.footer{
    padding: 20px;
    text-align: center;
    background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}